
#logoheader {
    width: 180px;
    /* margin-bottom: 290px; */
    
}

#headerMLeg p{
    display: flex;
    margin-left: auto;
}

.backLink {
    
    position: absolute;
    top: 100px;
    right: 50px;
}
.backLink a {
    color: #482728;
    font-size: 18px;
}
/* FOOTER */
footer {
    display: flex;
    z-index: 100;
    background-color: white;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    h3 {
        margin-bottom: 20px;
    }

    img {
        width: 24px;
    }

    ul li {
        padding: 5px 0;
    }

}

footer div {
    width: 33%;
}

#logoDivFooter {
    margin-left: 10px;
}

#logoFooter {
    width: 100px;
}

/*******************************************Début mentions légales***************************************************/
/*********Titre de la page******************/
#headerMLeg {

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#menLeg h1 {
    color:#482728;
    font-size: 42px;
    text-align: center;
}
#mainMentions {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    

}

.scroll-section {
    max-height: 70vh;
    overflow-y: scroll;
    text-align: justify;
    padding: 20px;
    margin:5%;
    border: solid 5px #482728;
}
.gros-paragraphe {
    font-size: 18px; 
    line-height: 1.52; 
}
.gros-paragraphe p {
    color: #482728;
}