

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Maven+Pro:wght@400..900&family=Montserrat&display=swap');

:root {
    --section: 75vh;
    --divParent: 80%;
    --imgFigure: 100%;
    --figure: 50%;


}